 .card {
	 text-align: center;
 }
 
  .bg-dark {
	width: 100%;
 }
 
 .dz-default {
	bottom: 50px;
    position: relative; 
 }
 
 .btn-primary {
	color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff;
	display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.mb-0 {
	padding-left: 10% !important;
}

.card-header, .card-body, .form-group, .row {
	padding: 10px;
}
 
 .navbar, .bg-gray-dark, .bg-primary, .nav-link, .nav-item {
    color: rgba(255, 255, 255, 0.8);
	background-color: #343a40;
	text-decoration: none;
}

.navbar-brand, .navbar-toggler {
	display: none;
}

.navbar li {
	display: inline;
	padding: 10px;
}

a:link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.footer2hm {
	background: #2d3246; 
	width: 100%;
	padding: 20px;
}
.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.navbar li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

.container {
	padding: 20px;
}

.fullpage {
	width: 100%;
}

.success {
	text-align: center;
	color: #008000;
	padding: 10px;
    font-weight: bold;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}